<ion-header>
  <ion-toolbar class="bar-class" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Back" style="text-transform: none;" (click)="goTo('/biztrust')"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-class">{{'MENU_09'|translate }}</ion-title>
    <ion-buttons slot="end">
      <img src="assets/images/x_close.png" style="height: 32px; width: 32px;" (click)="goTo('/biztrust')"/>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bgtukar" style="padding-left: 20px; padding-right: 20px;">

  <ion-grid>

    <ion-row class="ion-justify-content-center ion-text-center" style="padding-top:20px; padding-bottom: 20px;">
      <div style="font-size: 18px; font-weight: bold;">{{'WELCOMEUSER'|translate }}</div>
    </ion-row>

    <ion-row class="ion-justify-content-center" (click)="scanQRCode()">

      <ion-img src="assets/images/qrcodessm.jpg" style="height: 80%; width: 80%; object-fit: contain;"></ion-img>
      <ion-button style="margin-top: 20px; text-transform: none;" class="findbutton" ><strong>{{'TAPSCREENTOSCAN'|translate}}</strong></ion-button>
      
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-img [hidden]=ms src="assets/images/three_steps.png" style="height: 70%; width: 80%; object-fit: contain;"></ion-img>
      <ion-img [hidden]=!ms src="assets/images/tiga_langkah.png" style="height: 70%; width: 80%; object-fit: contain;"></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-img src="assets/images/logo_ssm_v3.png" style="height: 50%; width: 50%; object-fit: contain;"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button class="findbutton" (click)="goTo('/biztrust-user-guide')" style="text-transform: none;"><strong>{{'USERGUIDE'|translate}}</strong></ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-text-center">
      <div style="font-size:12px; color: #2E2F83">{{'CHECKSSMBIZTRUST'|translate}}</div>
    </ion-row>

  </ion-grid>
</div>
</ion-content>
<app-ssmfooter></app-ssmfooter>