<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">e-Query</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow:visible;" fullscreen scroll="false">

  <div class="bgtukar" style="height: 100%; padding: 0px;">

  <ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      List of Company that have queried document under Section 11(8) & (9) of the Companies Act 1965.<p>
      <font color="grey">Please fill in the blank space below:</font>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="ion-text-center">
    <label class="item item-input">
    <span class="input-label"><strong><font color="#2E2F83" translate="REGISNO">Company No./MyCoID:</font></strong></span>
    <ion-input type="text" font="#FF0000" placeholder="{{placeHolder}}" [(ngModel)]="queryCoId"></ion-input>
    </label>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
    <div class="ion-text-center">
      <ion-button class="findbutton" (click)="equeryFind()"><strong>Find</strong></ion-button>
    </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="no-border">

    <font color="#2E2F83"><strong translate="NOTE">Note:</strong></font>
    <p>
    1. Please enter "944751" for company/MyCoID number 944751-A in the field above.
    <br>
    <br>
    2. Any inquiries regarding queried document will be not entertained by telephone. Please go to the nearest SSM office for further information.
    <br>
    <br>
    3. SSM shall not be held liable and responsible for any misuse of the information by irresponsible person.

  </ion-col>
  </ion-row>
  </ion-grid>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button data-desc="Status 308">
        <i class="icon-icon2_308" [routerLink]="['/status308']" routerDirection="forward"></i>
      </ion-fab-button>
      <ion-fab-button data-desc="e-Compound">
        <i class="icon-icon2_eC" [routerLink]="['/ecompound']" routerDirection="forward"></i>
      </ion-fab-button>
      <ion-fab-button data-desc="e-Query">
        <i class="icon-icon2_eQ" [routerLink]="['/equery']" routerDirection="forward"></i>
      </ion-fab-button>
      <ion-fab-button data-desc="e-Search">
        <i class="icon-icon2_eS" [routerLink]="['/esearch']" routerDirection="forward"></i>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
<app-ssmfooter></app-ssmfooter>

