.ng-binding div {
    margin: 5px;
    font-size: 14px;
}
.ng-binding div.field-items{
    padding-bottom: 12px;
}
.ng-binding div.field-label{
    font-weight: bold;
}
.ng-binding image.file-icon{
    background: none;
}
.ng-binding p{
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}
    
tr:nth-child(even){background-color: #f2f2f2}

.attachment{
        margin: 6px;
    font-size: 14px;
    font-weight: bold;
}

ion-content {
    --overflow: visible;
    --background: white;
}