<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-class">News & Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bgtukar" style="height: 100%; padding: 20px;">
  <div class="list">
    <div [innerHTML]="detailNews"></div>
  </div>
</div>
</ion-content>

<div class="ssmfooter" align="center"><a ng-click="openXLink('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia {{appversion}}©</a></div>
