<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">{{ 'MENU_07'|translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow:visible;" fullscreen scroll="false">

  <div class="bgtukar" style="height: 100%; padding: 0px;">

  <ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      {{'eSearch_01'|translate}}<p>
      <font color="grey">{{'FILLIN'|translate}}</font>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
  <div class="list ion-text-center">
    <label class="item item-input item-select">
      <span class="input-label"><strong><font color="#2E2F83">{{'REGISTYPE'|translate}}</font></strong></span>
      <ion-select name="esearchType" interface="popover" value="ROC"
       [(ngModel)]="searchType" (ionChange)="searchTypeSelect()">
        <ion-select-option value="ROC" >{{'optEntityCRegNoOld'|translate}}</ion-select-option>
        <ion-select-option value="ROB" >{{'optEntityBRegNoOld'|translate}}</ion-select-option>
        <ion-select-option value="ROCNEW" >{{'optEntityCRegNoNew'|translate}}</ion-select-option>
        <ion-select-option value="ROBNEW" >{{'optEntityBRegNoNew'|translate}}</ion-select-option>
        <ion-select-option value="LLP" >{{'optEntityLLP'|translate}}</ion-select-option>
      </ion-select>
    </label>
  </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="ion-text-center">
    <label class="item item-input">
    <span class="input-label"><strong><font color="#2E2F83">{{'REGISNO'|translate}}</font></strong></span>
    <ion-input type="text" font="#FF0000" placeholder="{{placeHolder}}" [(ngModel)]="searchCompany"></ion-input>
    </label>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
    <div class="ion-text-center">
      <ion-button class="findbutton" (click)="esearchFind()"><strong>{{'FIND'|translate}}</strong></ion-button>
    </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="no-border">
    <div class="ion-text-center">
    {{'DOWNLOAD'|translate}} : {{'MANUALDESC'|translate}}
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  </div>

  <app-ssmfab></app-ssmfab>
</ion-content>
<app-ssmfooter></app-ssmfooter>
