<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">{{'MENU_06'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow:visible;" fullscreen scroll="false">

  <div class="bgtukar" style="height: 100%; padding: 0px;">

  <ion-grid>
  <ion-row>
    <ion-col class="input-label ion-text-center">
      <font color="grey">{{'FILLIN'|translate}}</font>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
  <div class="list ion-text-center">
    <label class="item item-input item-select">
      <span class="input-label"><strong><font color="#2E2F83"  translate="COMPOUND">Compound:</font></strong></span>
      <ion-select name="ecompoundType" interface="popover" value="ROC"
       [(ngModel)]="compoundType" (ionChange)="compoundTypeSelect()">
        <ion-select-option value="ROC" translate="optROC">Registrar of Companies (ROC)</ion-select-option>
        <ion-select-option value="ROB" translate="optROB">Registrar of Businesses (ROB)</ion-select-option>
      </ion-select>
    </label>
  </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
  <div class="list ion-text-center">
    <label class="item item-input item-select">
      <span class="input-label"><strong><font color="#2E2F83" translate="ENTITYTYPE">Entity Type:</font></strong></span>
      <ion-select name="ecompoundEntityType" interface="popover" value="01"
       [(ngModel)]="entityType" (ionChange)="entityTypeSelect()">
        <ion-select-option value="01" translate="optEntityCRegNoOld">Company Registration No. Old</ion-select-option>
        <ion-select-option value="02" translate="optEntityBRegNoOld">Business Registration No. Old</ion-select-option>
        <ion-select-option value="01" translate="optEntityCRegNoNew">Company Registration No. New</ion-select-option>
        <ion-select-option value="02" translate="optEntityBRegNoNew">Business Registration No. New</ion-select-option>
        <ion-select-option value="03" translate="optEntityNewIC">New IC No.</ion-select-option>
        <ion-select-option value="04" translate="optEntityPassNo">Passport No.</ion-select-option>
        <ion-select-option value="06" translate="optEntityCRefNo">Company Reference No.</ion-select-option>
        <ion-select-option value="07" translate="optEntityOldIC">Old IC No.</ion-select-option>
        <ion-select-option value="08" translate="optEntitySecLicenseNo">Co. Secretary License No.</ion-select-option>
        <ion-select-option value="10" translate="optEntityPoliceID">Police ID</ion-select-option>
        <ion-select-option value="17" translate="optEntityArmyID">Army ID</ion-select-option>
        <ion-select-option value="11" translate="optEntityAuditFirm">Audit Firm</ion-select-option>
        <ion-select-option value="12" translate="optEntityAuditor">Auditor</ion-select-option>
        <ion-select-option value="15" translate="optEntityOthers">Others</ion-select-option>
      </ion-select>
    </label>
  </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="ion-text-center">
    <label class="item item-input">
    <span class="input-label"><strong><font color="#2E2F83">Entity Number:</font></strong></span>
    <ion-input type="text" font="#FF0000" placeholder="{{placeHolder}}" [(ngModel)]="compoundEntity"></ion-input>
    </label>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
    <div class="ion-text-center">
      <ion-button class="findbutton" (click)="ecompoundFind()"><strong>{{'FIND'|translate}}</strong></ion-button>
    </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="input-label no-border">
    <div>
    <font color="#2E2F83"><strong translate="ATTENTION">ATTENTION!</strong></font>
    </div>
    <p>
    <div [innerHTML]="'eCompound_02'|translate">
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  </div>

  <app-ssmfab></app-ssmfab>
</ion-content>
<app-ssmfooter></app-ssmfooter>
