<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">{{'MENU_06'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bgtukar" style="height: 100%; padding: 0px;">

  <ion-grid>
  <ion-row>
    <ion-col class="input-label ion-text-center">
      <font color="grey">{{'FILLIN'|translate}}</font>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="ion-align-self-center">
    <ion-label class="input-label">
      <strong><font color="#2E2F83" translate="COMPOUND">Compound:</font></strong>
    </ion-label>
  </ion-col>

  <ion-col class="ion-align-self-center">
    <ion-select name="ecompoundType" class="item item-input item-select overflow" interface="alert" value="ROC"
      [(ngModel)]="compoundType" (ionChange)="compoundTypeSelect()">
      <ion-select-option value="ROC" translate="optROC">Registrar of Companies (ROC)</ion-select-option>
      <ion-select-option value="ROB" translate="optROB">Registrar of Businesses (ROB)</ion-select-option>
    </ion-select>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="ion-align-self-center" size="5">
    <ion-label class="input-label">
      <strong><font color="#2E2F83" translate="ENTITYTYPE">Entity Type:</font></strong>
    </ion-label>
  </ion-col>

  <ion-col class="ion-align-self-center" size="7">
    <ion-select name="ecompoundEntityType" class="item item-input item-select overflow" interface="alert" value="01"
      [(ngModel)]="entityType" (ionChange)="entityTypeSelect()">
      <ion-select-option value="01" translate="optEntityCRegNoOld">Company Registration No. Old</ion-select-option>
      <ion-select-option value="02" translate="optEntityBRegNoOld">Business Registration No. Old</ion-select-option>
      <ion-select-option value="01" translate="optEntityCRegNoNew">Company Registration No. New</ion-select-option>
      <ion-select-option value="02" translate="optEntityBRegNoNew">Business Registration No. New</ion-select-option>
      <ion-select-option value="03" translate="optEntityNewIC">New IC No.</ion-select-option>
      <ion-select-option value="04" translate="optEntityPassNo">Passport No.</ion-select-option>
      <ion-select-option value="06" translate="optEntityCRefNo">Company Reference No.</ion-select-option>
      <ion-select-option value="07" translate="optEntityOldIC">Old IC No.</ion-select-option>
      <ion-select-option value="08" translate="optEntitySecLicenseNo">Co. Secretary License No.</ion-select-option>
      <ion-select-option value="10" translate="optEntityPoliceID">Police ID</ion-select-option>
      <ion-select-option value="17" translate="optEntityArmyID">Army ID</ion-select-option>
      <ion-select-option value="11" translate="optEntityAuditFirm">Audit Firm</ion-select-option>
      <ion-select-option value="12" translate="optEntityAuditor">Auditor</ion-select-option>
      <ion-select-option value="15" translate="optEntityOthers">Others</ion-select-option>
    </ion-select>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="ion-align-self-center">
    <ion-label class="input-label">
      <strong><font color="#2E2F83">Entity Number:</font></strong>
    </ion-label>
  </ion-col>

  <ion-col class="ion-align-self-center">
    <ion-input type="text" class="item item-input item-select" font="#FF0000" placeholder="{{placeHolder}}" [(ngModel)]="compoundEntity">
    </ion-input>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
    <div class="ion-text-center">
      <ion-button class="findbutton" (click)="ecompoundFind()" style="text-transform: none;"><strong>{{'FIND'|translate}}</strong></ion-button>
    </div>
  </ion-col>
  </ion-row>

  <ion-row class="no-border">
  <ion-col class="input-label">
    <div>
    <font color="#2E2F83"><strong translate="ATTENTION">ATTENTION!</strong></font>
    </div>
    <p>
    <div [innerHTML]="'eCompound_02'|translate">
    </div>
  </ion-col>
  </ion-row>
  
  </ion-grid>

  </div>

</ion-content>
<app-ssmfab></app-ssmfab>
<app-ssmfooter></app-ssmfooter>
