// ion-col {
//     border-bottom: 1px solid #aeb7ca;
//     padding: 15px;
// }

ion-row {
    border-bottom: 1px solid #aeb7ca;
    padding: 15px;
}

ion-row.no-border {
    border-bottom: 0px;
}

ion-col.no-border {
    border-bottom: 0px;
}

ion-button.findbutton {
    --background: #2E2F83;
    --color: #F9EC00;
    --border-color: #2E2F83;
}

ion-content {
    --overflow: visible;
}
