<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">e-Compound</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow:visible;" fullscreen scroll="false">

  <div class="bgtukar" style="height: 100%; padding: 0px;">

  <ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <font color="grey">Please fill in the blank space below:</font>
    </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
  <div class="list ion-text-center">
    <label class="item item-input item-select">
      <span class="input-label"><strong><font color="#2E2F83">Compound:</font></strong></span>
      <ion-select name="ecompoundType" interface="popover" value="ROC"
       [(ngModel)]="compoundType" (ionChange)="compoundTypeSelect()">
        <ion-select-option value="ROC" >Registrar of Companies (ROC)</ion-select-option>
        <ion-select-option value="ROB" >Registrar of Businesses (ROB)</ion-select-option>
      </ion-select>
    </label>
  </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
  <div class="list ion-text-center">
    <label class="item item-input item-select">
      <span class="input-label"><strong><font color="#2E2F83">Entity Type:</font></strong></span>
      <ion-select name="ecompoundEntityType" interface="popover" value="01"
       [(ngModel)]="entityType" (ionChange)="entityTypeSelect()">
        <ion-select-option value="01" >Company Registration No. Old</ion-select-option>
        <ion-select-option value="02" >Business Registration No. Old</ion-select-option>
        <ion-select-option value="01" >Company Registration No. New</ion-select-option>
        <ion-select-option value="02" >Business Registration No. New</ion-select-option>
        <ion-select-option value="03" >New IC No.</ion-select-option>
        <ion-select-option value="04" >Passport No.</ion-select-option>
        <ion-select-option value="06" >Company Reference No.</ion-select-option>
        <ion-select-option value="07" >Old IC No.</ion-select-option>
        <ion-select-option value="08" >Co. Secretary License No.</ion-select-option>
        <ion-select-option value="10" >Police ID</ion-select-option>
        <ion-select-option value="17" >Army ID</ion-select-option>
        <ion-select-option value="11" >Audit Firm</ion-select-option>
        <ion-select-option value="12" >Auditor</ion-select-option>
        <ion-select-option value="15" >Others</ion-select-option>
      </ion-select>
    </label>
  </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="ion-text-center">
    <label class="item item-input">
    <span class="input-label"><strong><font color="#2E2F83">Entity Number:</font></strong></span>
    <ion-input type="text" font="#FF0000" placeholder="{{placeHolder}}" [(ngModel)]="compoundEntity"></ion-input>
    </label>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col>
    <div class="ion-text-center">
      <ion-button class="findbutton" (click)="ecompoundFind()"><strong>Find</strong></ion-button>
    </div>
  </ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="no-border">
    <div>
    <font color="#2E2F83"><strong translate="ATTENTION">ATTENTION!</strong></font>
    <p>
    1. The information displayed may take time to be updated. As such please keep the payment receipt as proof of payment.
    <br>
    <br>
    2. SSM shall not be held liable and responsible for any misuse of the information by irresponsible person.
    <br>
    <br>
    3. Please contact the nearest SSM office for a copy of the compound notice.
    <br>
    <br>
    4. For the purpose of validation and verification on the information displayed, please contact 03-22995334 or email ar_compliance@ssm.com.my.
    </p>
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button data-desc="Status 308">
        <i class="icon-icon2_308" [routerLink]="['/status308']" routerDirection="forward"></i>
      </ion-fab-button>
      <ion-fab-button data-desc="e-Compound">
        <i class="icon-icon2_eC" [routerLink]="['/ecompound']" routerDirection="forward"></i>
      </ion-fab-button>
      <ion-fab-button data-desc="e-Query">
        <i class="icon-icon2_eQ" [routerLink]="['/equery']" routerDirection="forward"></i>
      </ion-fab-button>
      <ion-fab-button data-desc="e-Search">
        <i class="icon-icon2_eS" [routerLink]="['/esearch']" routerDirection="forward"></i>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
<app-ssmfooter></app-ssmfooter>
