<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button #mainfabbtn (click)="fabMainBtnClicked()">
    <ion-icon name="ios-arrow-up"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button title="{{'MENU_08'|translate}}">
      <i class="icon-icon2_308" [routerLink]="['/status308']" routerDirection="root"></i>
    </ion-fab-button>
    <ion-fab-button title="{{'MENU_06'|translate}}">
      <i class="icon-icon2_eC" [routerLink]="['/ecompound']" routerDirection="root"></i>
    </ion-fab-button>
    <ion-fab-button title="{{'MENU_05'|translate}}">
      <i class="icon-icon2_eQ" [routerLink]="['/equery']" routerDirection="root"></i>
    </ion-fab-button>
    <ion-fab-button title="{{'MENU_07'|translate}}">
      <i class="icon-icon2_eS" [routerLink]="['/esearch']" routerDirection="root"></i>
    </ion-fab-button>
  </ion-fab-list>

</ion-fab>
