ion-fab-button {
    --background: #2E2F83;
    --color: #F9EC00;
    --border-color: #2E2F83;
    --background-hover: #3880ff;

    width: 56px;
    height: 56px;
}

ion-fab-button[title] {
    position: relative;
}
  
ion-fab-button[title]::after {
    position: absolute;
    content: attr(title);
    z-index: 1;
    right: 58px;
    bottom: 20px;
    background-color: grey;
    padding: 2px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}