ion-row {
    border-bottom: 0px solid #aeb7ca;
    padding: 5px;
}

ion-row.no-border {
    border-bottom: 0px;
}

ion-col.no-border {
    border-bottom: 0px;
}

ion-button.findbutton {
    --background: #2E2F83;
    --color: #F9EC00;
    --border-color: #2E2F83;
}

ion-content {
    --overflow: visible;
    height: auto;
    --background: white;
}

ion-select.overflow {
    width: 100%;
    direction: ltr;
    position: inherit;
    padding-left: 0px;
    --overflow: hidden;
}

.page-background-image {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/assets/images/logo_biztrust.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .biztrust-title{
    color: #2E2F83;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
  }

  .biztrust-item{
    color: #2E2F83;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
  }

  .biztrust-item2{
    color: black;
    font-size: 14px;
  }
  
  .biztrust-item3{
    color: #2E2F83;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
  }
  
  .biztrust-item4{
    color: rgb(219, 24, 24);
    font-size: 14px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .design  {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/images/logo_biztrust.png");
    // background-image: url("/assets/images/logo_biztrust.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .card-md {
    margin: 0;
  }