<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">News & Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow:visible;" fullscreen="true">

  <div class="bgtukar" style="height: 100%; padding: 5px;">

  <ion-list>
    <ion-card *ngFor="let s of newsItems" class="positive titlenews-list" style="color:rgba(47,47,131,0.9); padding:5px;"
    [routerLink]="['/detailnews/', s.link_id]" routerDirection="forward">
    {{s.title}}
    <div class="news-readmore"><ion-icon name="more"></ion-icon></div>
    </ion-card>
  </ion-list>
  </div>
</ion-content>
<div class="ssmfooter" align="center"><a ng-click="openXLink('https://www.ssm.com.my')">Suruhanjaya Syarikat Malaysia {{appversion}}©</a></div>
