<ion-header>
</ion-header>

<ion-content>
<div class="page-background-image" style="padding-left: 20px; padding-right: 20px;">

  <ion-grid style="margin-top: 40px;">

    <ion-row class="ion-justify-content-center ion-text-center">
      <div style="font-size: 16px; text-align: center; font-weight: bold;">USER GUIDE</div>
    </ion-row>

    <ion-row style="margin-top: 20px;">

        <div style="font-size: 14px; text-align: justify;">
        1. Target Users
        <br><br>
        Any individual or company who wishes to verify the validity of the copy BizTrust info from
        Suruhanjaya Syarikat Malaysia (SSM)
        <br><br>
        2. How the apps work
        <br><br>
        </div>

        <div style="font-size: 14px; text-align: justify; padding-left: 20px;">
          i. The SSM BizTrust QR Code screen will display a "Tap screen to scan" message to enable
          scanning of the QR Code
        <p>
          ii. After running the QR Code scanner start, user must point camera towards the QR code
          given. Tap 'x' at a convenient position to redirect to the front page.
        </div>

        <div style="font-size: 14px; text-align: justify;">
        <br>
        3. Output
        <br><br>
        </div>
        
        <div style="font-size: 14px; text-align: justify; padding-left: 20px;">
          i. Corporate informatin will be displayed upon successful scanning of the QR code. Tap the QR icon located
          at a convenient position to redirect to SSM BizTrust QR code page.
        <p>
          ii. An "Invalid SSM BizTrust QR Code" will prompt if the QR Code is not valid. Tap the QR icon located at convenient
          position to redirect to SSM BizTrust QR code page.
        <p>
          iii. The app will display "Information Not Found" if the entity has not registered under SSM. Tap the QR icon located
          at a convenient position to redirect to SSM BizTrust QR code page.
        <p>
          iv. The app will display "Connectoin Lost" if there is no internet connection. Tap the QR icon located at a
          convenient position to redirect to SSM BizTrust QR code page.
        </div>

        <div style="font-size: 14px; text-align: justify;">
        <br>
        4. Verify
        <br><br>
        Users have to user MySSM apps to verify the BizTrust QR code.
        </div>

    </ion-row>

  </ion-grid>
  <div class="ion-text-center" style="padding-top:20px; padding-bottom: 30px;">
    <ion-button class="findbutton" (click)="goBack()"><strong>Close</strong></ion-button>
  </div>
</div>
</ion-content>
<app-ssmfooter></app-ssmfooter>
