<ion-header>
</ion-header>

<ion-content>
<div class="page-background-image" style="padding-left: 20px; padding-right: 20px;">

  <ion-grid style="margin-top: 40px;">

    <ion-row justify-content-center text-center>
      <div style="font-size: 16px; text-align: center; font-weight: bold;">USER GUIDE</div>
    </ion-row>

    <ion-row style="margin-top: 20px;">

        <div style="font-size: 14px; text-align: justify;">
        1. Target Users
        <br><br>
        Anybody individual or company who wishes to verify the validity of the copy BizTrust info from
        Suruhanjaya Syarikat Malaysia (SSM)
        <br><br>
        2. How the apps work
        <br><br>
        </div>

        <div style="font-size: 14px; text-align: justify; padding-left: 20px;">
        i. The SSM BizTrust QR Code screen will be displayed. Touch the "Tap screen to scan" to start
        scanning the QR Code
        <p>
        ii. After the QR Code scanner start, user is able to point the scanner window towards the QR code.
        Tap button "x" located at a convenient position to redirect to the front page.
        </div>

        <div style="font-size: 14px; text-align: justify;">
        <br>
        3. Output
        <br><br>
        </div>
        
        <div style="font-size: 14px; text-align: justify; padding-left: 20px;">
        i. Corporate informatin will be displayed if the QR code scanning is successful. Tap QR icon located
        at a convenient position to redirect to SSM BizTrust QR code page.
        <p>
        ii. Apps will display "Invalid SSM BizTrust QR Code" if the QR Code is not valid. Tap QR Code icon to redirect
        to SSM BizTrust QR code page.
        <p>
        iii. Apps will display "Information Not Found" if the entity has not registered under SSM. Tap QR code icon to
        redirect to SSM BizTrust QR code page.
        </div>

        <div style="font-size: 14px; text-align: justify;">
        <br>
        4. Verify
        <br><br>
        Users have to user MySSM apps to verify the BizTrust QR code.
        </div>

    </ion-row>

  </ion-grid>
  <div class="ion-text-center" style="margin-top: 20px;">
    <ion-button class="findbutton" (click)="goBack()"><strong>Close</strong></ion-button>
  </div>
</div>
</ion-content>
<app-ssmfooter></app-ssmfooter>
