<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">{{ 'MENU_02'|translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow:visible;" fullscreen="true">

  <div class="bgtukar" style="height: 100%; padding: 5px;">
  </div>

  <div class="social-title info-title">{{'OURSOCIAL'|translate}}</div>
  <div>
    <ion-img class="soscial-link avatar relative" src="../../assets/images/facebook.png"></ion-img>
    <ion-img class="soscial-link avatar relative" src="../../assets/images/twitter.png"></ion-img>
    <ion-img class="soscial-link avatar relative" src="../../assets/images/instagram.png"></ion-img>
    <ion-img class="soscial-link avatar relative" src="../../assets/images/youtube.png"></ion-img>
  </div>
</ion-content>
<app-ssmfooter></app-ssmfooter>
