<ion-header>
  <ion-toolbar class="bar-class">
    <ion-buttons slot="start">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-class">{{'MENU_09'|translate }}</ion-title>
    <ion-buttons slot="end">
      <button style="background: #F9EC00; color: black" (click)="goBack()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="bgtukar" style="height: 100%; padding-left: 20px; padding-right: 20px;">

  <div style="font-size: 16px; text-align: center; font-weight: bold; margin-top: 40px;" translate="BIZTRUSTINTRO">INTRODUCTION</div>
  <div style="font-size: 14px; text-align: justify; margin-top: 20px;" translate="BIZTRUSTINTROCONTENT">SSM BizTrust is a business starter kit that serves
  as digital identification of business entities registered with the Companies Commission of Malaysia (SSM).</div>

  <div style="font-size: 16px; text-align: center; font-weight: bold; margin-top: 40px;" translate="BIZTRUSTOBJ">OBJECTIVE</div>
  <div style="font-size: 14px; text-align: justify; margin-top: 20px;" translate="BIZTRUSTOBJCONTENT">The objective of SSM BizTrust business starter
  kit is to strengthen the compliance with business entities through the provisions of the Acts administered by SSM with
  validation through SSM BizTrust QR code.</div>

  <div style="font-size: 16px; text-align: center; font-weight: bold; margin-top: 40px;" translate="BIZTRUSTFUNC">FUNCTION</div>
  <div style="font-size: 14px; text-align: justify; margin-top: 20px;" translate="BIZTRUSTFUNCCONTENT">This method of reviewing merchant information via SSM
  BizTrust QR code will display infomratin such as business name, business registration number, status and business URL address
  (if any)</div>

  <div class="ion-text-center" style="margin-top: 40px;">
    <ion-button class="findbutton" (click)="goTo('/biztrust-scan')"><strong translate="FIND">Find</strong></ion-button>
  </div>
</div>

</ion-content>
<app-ssmfooter></app-ssmfooter>