<!-- <ion-header> -->
  <!-- <ion-toolbar class="bg-image-toolbar"> -->
    <!-- <ion-buttons slot="start" class="home-topbar">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons> -->
  <!-- </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content>
  <div>
    <ion-buttons slot="start" class="home-topbar" style="margin-top: 20px; margin-left: 10px;">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
  </div>
  
<div class="bgtukar-main bgtukar">
  <div class="titlenews-main">
  <strong><div class="maintitle">{{'MENU_01'|translate}}</div></strong>
  </div>
  
  <ion-grid>
    <ion-row>
 
        <swiper [config]="slideOptsOne" #slideWithNav
          (slideChange)="slideDidChange(slideWithNav)"
          (swiper)="setSwiperInstance($event)">

          <ng-template swiperSlide *ngFor="let s of sliderOne.slidesItems">

          <div class=box1>
            <div class="newscontent" [routerLink]="['/detailnews/', s.link_id]" routerDirection="forward">
              <div style="color:#2e2f83; display: inline-block; text-align: left;"><strong>{{s.title}}</strong></div>
              <p>
              <div style="display: inline-block; text-align: left;">{{s.description}}</div>
            </div>
            <div class="main-readmore"><ion-icon name="more"></ion-icon></div>
          </div>
          
          </ng-template>

        </swiper>

    </ion-row>

  </ion-grid>

  <div class="icon-bottom" align="center">
  <img [routerLink]="['/esearch']" routerDirection="forward" class="avatar relative" src="../../assets/images/eSearch.png"/>
  <img [routerLink]="['/equery']" routerDirection="forward" class="avatar relative" src="../../assets/images/eQuery.png"/>
  <img [routerLink]="['/ecompound']" routerDirection="forward" class="avatar relative" src="../../assets/images/eCompound.png"/>
  <img [routerLink]="['/status308']" routerDirection="forward" class="avatar relative" src="../../assets/images/Status308.png"/>
  <img [routerLink]="['/biztrust']" routerDirection="forward" class="avatar relative" src="../../assets/images/eBizTrust.png"/>
  </div>
</div>
</ion-content>
<app-ssmfooter></app-ssmfooter>