
/* Empty. Add your own CSS if you like */
.newscontent{
  /*width:300px;*/
      height:160px;
  /*    border:1px solid red;*/
      overflow:hidden;
      text-overflow:ellipsis;
  /*    white-space: nowrap; */
      font-size: 13px;
      padding: 3px;
}

.box1 {
    text-align: center;
}

ion-content {
    --overflow: visible;
    // --background: url('../../assets/images/background.png') 0 0/100% 100%;
    --background: none;
    background-image: url('../../assets/images/background.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}