<ion-header>
  <ion-toolbar class="bg-image">
    <ion-buttons slot="start" class="home-topbar">
      <ion-menu-button class="bar-class" style="border-radius:5px;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">

<div class="bgtukar-main bgtukar">
  <div class="titlenews-main">
  <strong><div class="maintitle">{{'MENU_01'|translate}}</div></strong>
  </div>
  
  <ion-grid>
    <ion-row>
 
        <ion-slides pager="true" paginationType="fraction" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="slideDidChange(slideWithNav)">

          <ion-slide *ngFor="let s of sliderOne.slidesItems">
          <div class=box1>
            <div class="newscontent" [routerLink]="['/detailnews/', s.link_id]" routerDirection="forward">
              <div style="color:#2e2f83; display: inline-block; text-align: left;"><strong>{{s.title}}</strong></div>
              <p>
              <div style="display: inline-block; text-align: left;">{{s.description}}</div>
            </div>
            <div class="main-readmore"><ion-icon name="more"></ion-icon></div>
            
          </div>
          </ion-slide>

        </ion-slides>

    </ion-row>

  </ion-grid>

  <div class="icon-bottom" align="center">
  <img [routerLink]="['/esearch']" routerDirection="forward" class="avatar relative" src="../../assets/images/eSearch.png"/>
  <img [routerLink]="['/equery']" routerDirection="forward" class="avatar relative" src="../../assets/images/eQuery.png"/>
  <img [routerLink]="['/ecompound']" routerDirection="forward" class="avatar relative" src="../../assets/images/eCompound.png"/>
  <img [routerLink]="['/status308']" routerDirection="forward" class="avatar relative" src="../../assets/images/Status308.png"/>
  </div>
</div>
</ion-content>
<app-ssmfooter></app-ssmfooter>